@model QLTiecCuoi.Models.DichVu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/FrameLayout.cshtml";
}

<h2>Sửa thông tin dịch vụ</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <!-- Container table create item -->
        <div class="container-fluid">
            <div class="row div-content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Mã dịch vụ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MaDV, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                        @Html.ValidationMessageFor(model => model.MaDV, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tên dịch vụ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TenDV, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenDV, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Gía", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.GiaDV, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GiaDV, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group"></td>
                            </tr>
                            <tr class="div-btn-ok-back">
                                <td class="form-group div-button">
                                    <input style="float:right;" value="Làm mới" class="btn btn-default" />
                                </td>
                                <td class="form-group div-button">
                                    <input style="" type="submit" value="Lưu" class="btn btn-default" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

