@model QLTiecCuoi.Models.MonAn

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/FrameLayout.cshtml";
}

<h2>Thêm món ăn mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <!-- Container table create item -->
        <div class="container-fluid">
            <div class="row div-content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Mã món ăn", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MaMonAn, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                        @Html.ValidationMessageFor(model => model.MaMonAn, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tên món ăn", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TenMonAn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenMonAn, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Gía", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.GiaMonAn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GiaMonAn, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    @Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.GhiChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GhiChi, "", new { @class = "text-danger" })
                                </td>
                                    
                            </tr>
                            <tr class="div-btn-ok-back">
                                <td class="form-group div-button">
                                    <input style="float:right;" value="Làm mới" class="btn btn-default" />
                                </td>
                                <td class="form-group div-button">
                                    <input style="" type="submit" value="Lưu" class="btn btn-default" />
                                </td>   
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
    </div>