@model QLTiecCuoi.Models.TiecCuoi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/FrameLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <!-- Container table create item -->
        <div class="container-fluid">
            <div class="row test">
                <div class="table-responsive">
                    <h3>Thônh tin tiệc cưới</h3>
                    <table class="hover-td table table-hover">
                        <tbody>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Mã tiệc cưới", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MaTiecCuoi, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tên chú rễ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TenChuRe, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tên cô dâu", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TenCoDau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Ngày cưới", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.NgayCuoi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Số bàn", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.SoBan, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Số bàn dự trữ", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.SoBanDuTru, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tiện cọc", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TienCoc, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaTiecCuoi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <!-- SẢNH -->
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Sảnh", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownList("MaSanh", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSanh, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <!-- Món ăn -->
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Danh sách món ăn", htmlAttributes: new { @class = "control-label" })
                                    @{Html.RenderAction("ShowAllMeal");}
                                </td>
                                <!-- DỊCH VỤ-->
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Danh sách dịch vụ", htmlAttributes: new { @class = "control-label" })
                                    @{ Html.RenderAction("ShowAllDV");}
                                </td>
                            </tr>
                            <tr class="div-btn-ok-back">
                                <td class="form-group div-button">
                                    <input style="float:right;" value="Clear" class="btn btn-default" />
                                </td>
                                <td class="form-group div-button">
                                    <input style="" type="submit" value="Create" class="btn btn-default" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
