@model IEnumerable<QLTiecCuoi.Models.Sanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrameLayout.cshtml";
}

<h2>Danh sách sảnh</h2>

<p>
    @Html.ActionLink("Thêm sảnh", "Create")
</p>
<!-- Table show list-->

<div class="table-responsive div-body show-list">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Mã sảnh</th>
                <th>Tên sảnh</th>
                <th>Loại sảnh</th>
                <th>Số bàn tối thiểu</th>
                <th>Số bàn tối đa</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
            <tr>
                <td>@item.MaSanh</td>
                <td>@item.TenSanh</td>
                <td>@item.MaLoaiSanh</td>
                <td>@item.SoLuongBanToiThieu</td>
                <td>@item.SoLuongBanToiDa</td>
                <td>
                    <input class="check-page" type="hidden" value="0" />
                    @Html.ActionLink("Xem", "Details", "Sanh", new { id = item.MaSanh }, htmlAttributes: new { @class = "details", @at = item.MaLoaiSanh })
                    @Html.ActionLink("Sửa", "Edit", "Sanh", new { id = item.MaSanh }, null)
                    @Html.ActionLink("Xóa", "delete", "Sanh", new { id = item.MaSanh }, null)
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/DevScript/ShowDetails.js")